# Dependencies
node_modules/

# Environment
.env
.env.dev
.env.prod
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
