DB_USER=schoolmatrix
DB_PASS=CHANGE_ME
DB_NAME=schoolmatrix
JWT_SECRET=CHANGE_ME
NODE_ID=LOCAL
SYNC_API_KEY=CHANGE_ME_SAME_AS_CLOUD
REMOTE_API_URL=http://34.95.43.132
SYNC_INTERVAL_MS=5000
SYNC_KICK_URL=http://sync-agent:3911/kick
GCS_BUCKET=parallele-schoolmatrix-assets
GCS_PREFIX=schoolmatrix
GCS_PROJECT_ID=parallele-schoolmatrix
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/gcs-sa.json
