DB_USER=schoolmatrix
DB_PASS=CHANGE_ME
DB_NAME=schoolmatrix
JWT_SECRET=CHANGE_ME
NODE_ID=LOCAL
SYNC_API_KEY=CHANGE_ME_SAME_AS_CLOUD
REMOTE_API_URL=http://34.95.43.132
GCS_BUCKET=parallele-schoolmatrix-assets
GCS_PREFIX=schoolmatrix
GCS_PROJECT_ID=parallele-schoolmatrix
